.logo {
    color: white;
    background: rgba(255, 255, 255, 0.3);
    line-height: 32px;
    font-size: 18px;
    margin: 10px;
    text-align: center;
}

#components-layout-demo-custom-trigger .trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
    color: #1890ff;
}



.site-layout .site-layout-background {
    background: #fff;
}